.mypage-main
  .main-content-wrapper
    .mypage-side
      .maypage-sidebar
        %ul.mypage-sidebar-lists
          %li.mypage-sider-list
            = link_to "#", class: "mypage-sideber-list__text" do
              %h2.bold
                マイページ
          %li.mypage-sider-list
            = link_to "#", class: "mypage-sideber-list__text" do
              %h2.bold
                いいね
          %li.mypage-sider-list
            = link_to new_product_path, class: "mypage-sideber-list__text" do
              %h2.bold
                出品する
          %li.mypage-sider-list
            = link_to "#", class: "mypage-sideber-list__text" do
              %h2.bold
                購入した商品
        .mypage-nav-head
          設定
        %ul.mypage-nav-list
          %li
            = link_to edit_profile_path(@user), class: "mypage-sideber-list__text" do
              %h2.bold
                プロフィール
          %li
            -if @address == nil 
              = link_to new_address_path, class: "mypage-sideber-list__text" do
                %h2.bold
                  発送元・お届け先住所
            -else
              = link_to edit_address_path(@user), class: "mypage-sideber-list__text" do
                %h2.bold
                  発送元・お届け先住所
          %li
            = link_to "#", class: "mypage-sideber-list__text" do
              %h2.bold
                お支払い方法
          %li
            = link_to "#", class: "mypage-sideber-list__text" do
              %h2.bold
                ログアウト
    .mypage-mainbox
      %section.mainbox-header
        %h2.mainbox-header__text プロフィール
        = form_with(model: @profile, local: true) do |f|
          .profile-form__introduction
            = f.label "自己紹介", class: "profile-form__label"
            %h4.any
              任意
            %br/
            = f.text_area :introduction, class: "input-form-large"
          .profile-form__name
            = f.label "お名前(全角)", class: "profile-form__label"
            %h4.require
              必須
            %br/
            = f.text_field :first_name, class: "input-form-regular"
            = f.text_field :last_name, class: "input-form-regular"
          .profile-form__name-kana
            = f.label "お名前カナ(全角)", class: "profile-form__label"
            %h4.require
              必須
            %br/
            = f.text_field :first_name_kana, class: "input-form-regular"
            = f.text_field :last_name_kana, class: "input-form-regular"
          .profile-form__birthdate
            = f.label "生年月日", class: "profile-form__label"
            %h4.require
              必須
            %br/
            .birth-form
              = f.date_select :birth_date, prompt:"--", use_month_numbers: true,start_year: 1930, end_year: (Time.now.year - 10), default: Date.new(1989, 1, 1)
          .submit
            =f.submit "更新する", class: "submit__btn"
.footer
  .footer__logo
    %h3.white.footer__logo__text
      © FURIMA
=link_to new_product_path, class: "post-btn" do
  .post-btn__wrapper
    .post-btn__text
      出品
    .post-btn__icon
      = icon('fas', 'plus')