.mypage-side
  .maypage-sidebar
    %ul.mypage-sidebar-lists
      %li.mypage-sider-list
        = link_to users_path, class: "mypage-sideber-list__text" do
          %h2.bold
            マイページ
      %li.mypage-sider-list
        = link_to likes_users_path, class: "mypage-sideber-list__text" do
          %h2.bold
            いいね
      %li.mypage-sider-list
        = link_to new_product_path, class: "mypage-sideber-list__text" do
          %h2.bold
            出品する
      %li.mypage-sider-list
        = link_to "#", class: "mypage-sideber-list__text" do
          %h2.bold
            購入した商品
    .mypage-nav-head
      設定
    %ul.mypage-nav-list
      %li
        = link_to edit_profile_path(@user), class: "mypage-sideber-list__text" do
          %h2.bold
            プロフィール
      %li
        -if @address == nil 
          = link_to new_address_path, class: "mypage-sideber-list__text" do
            %h2.bold
              発送元・お届け先住所
        -else
          = link_to edit_address_path(@user), class: "mypage-sideber-list__text" do
            %h2.bold
              発送元・お届け先住所
      %li
        = link_to card_path(@user), class: "mypage-sideber-list__text" do
          %h2.bold
            お支払い方法
      %li
        = link_to  destroy_user_session_path, class: "mypage-sideber-list__text" do
          %h2.bold
            ログアウト