.mypage-main
  .main-content-wrapper
    =render partial: 'users/side-bar'
    .mypage-side
      .maypage-sidebar
        %ul.mypage-sidebar-lists
          %li.mypage-sider-list
            = link_to users_path, class: "mypage-sideber-list__text" do
              %h2.bold
                マイページ
          %li.mypage-sider-list
            = link_to "#", class: "mypage-sideber-list__text" do
              %h2.bold
                いいね
          %li.mypage-sider-list
            = link_to new_product_path, class: "mypage-sideber-list__text" do
              %h2.bold
                出品する
          %li.mypage-sider-list
            = link_to "#", class: "mypage-sideber-list__text" do
              %h2.bold
                購入した商品
        .mypage-nav-head
          設定
        %ul.mypage-nav-list
          %li
            = link_to edit_profile_path(@user), class: "mypage-sideber-list__text" do
              %h2.bold
                プロフィール
          %li
            -if @address == nil
              = link_to new_address_path, class: "mypage-sideber-list__text" do
                %h2.bold
                  発送元・お届け先住所
            -else
              = link_to edit_address_path(@user), class: "mypage-sideber-list__text" do
                %h2.bold
                  発送元・お届け先住所
          %li
            = link_to new_card_path, class: "mypage-sideber-list__text" do
              %h2.bold
                お支払い方法
          %li
            = link_to "#", class: "mypage-sideber-list__text" do
              %h2.bold
                ログアウト
    .mypage-content
      .user-details
        %section.user-profile
          .mypage-userinfo-regular-user-index
            %ul.mypage-userinfo-regular__lists
              %li.mypage-userinfo-regular__lists__name-index-show
                = link_to user_path(@user), class: "mypage-userinfo-regular__lists__link" do
                  = @user.nickname + "さん"
              %li.mypage-userinfo-regular__lists__img-show-index
                = link_to user_path(@user), class: "mypage-userinfo-regular__lists__link" do
                  - if @profile.image.present?
                    = image_tag @profile.image.to_s, height: '70px', width: '70px', class: 'mypage-userinfo-regular__lists__img__data'
                  -else
                    = image_tag 'member_photo_noimage_thumb.png', height: '70px', width: '70px', class: 'mypage-userinfo-regular__lists__img__data'
          - if user_signed_in? && @product && current_user.id == @product.user_id
            .user-evaluation
              .user-evaluation__box
                %ul
                  %li
                    = icon('fas', 'grin',  class: "good")
                    %i
                      = @evaluation_good_sum
                    
                  %li
                    = icon('fas', 'meh',  class: "normal")
                    %i
                      = @evaluation_normal_sum
                    
                  %li
                    = icon('fas', 'frown',  class: "bad")
                    %i
                      = @evaluation_bad_sum         
          - else
            .user-evaluation
              .user-evaluation__box
                %ul
                  %li
                    = icon('fas', 'grin',  class: "good")
                    %i
                      0
                    
                  %li
                    = icon('fas', 'meh',  class: "normal")
                    %i
                      0
                    
                  %li
                    = icon('fas', 'frown',  class: "bad")
                    %i
                      0
          .text-box
            = @profile.introduction
          .tabs
            .tabs-box
              %input#tab-1{:checked => "checked", :name => "tab-radio", :type => "radio"}/
              %label.tab-label{:for => "tab-1"}出品中
              %input#tab-2{:name => "tab-radio", :type => "radio"}/
              %label.tab-label{:for => "tab-2"}売却済み
              .tab-content.tab-1-content
                - @product_sell.each do |sell|
                  .image_box
                    = link_to product_path(sell), class: "sell-box" do
                      - sell.images.limit(1).each do |images|
                        =image_tag images.image.to_s, size:"110x110"
              .tab-content.tab-2-content
                - @product_selled.each do |selled|
                  .image_box
                    = link_to product_path(selled), class: "sell-box" do
                      .image
                        - selled.images.limit(1).each do |images|
                          =image_tag images.image.to_s, size:"110x110"
                        -if selled.purchaser_id.present?
                          .items-box_photo__sold
                            .items-box_photo__sold__inner
                              SOLD
= render partial: 'layouts/footer'
= render partial: 'layouts/post-btn'
