.mypage-main
  .mypage-side
    %nav.mypage-nav
      %ul.mypage-nav-list
        %li
          = link_to "マイページ", users_path
        %li
          = link_to "いいね", "#"
        %li
          = link_to "出品する", new_product_path
        %li
          = link_to "出品した商品-取引中", "#"
        %li
          = link_to "出品した商品-売却済み", "#"
        %li
          = link_to "購入した商品", "#"
      .mypage-nav-head
        メルペイ
      %ul.mypage-nav-list
        %li
          = link_to "ポイント", "#"
        %li
      .mypage-nav-head
        設定
      %ul.mypage-nav-list
        %li
          = link_to "プロフィール", edit_user_profile_path(@user)
        %li
          -if @address.blank?
            = link_to "発送元・お届け先住所", new_user_address_path(@user)
          -else
            = link_to "発送元・お届け先住所", edit_user_address_path(@user)
        %li
          = link_to "支払い方法", new_card_path
        %li
          = link_to "ログアウト", log_out_path, method: :get
  .mypage-content
    %section.mypage-user-icon
      = link_to user_path(@user) do
        = image_tag "https://static.mercdn.net/images/member_photo_noimage_thumb.png", size: "50x50"
        %p ユーザー名
    %section.mypage-tab-content
      %ul.mypage-tabs
        %li
          = link_to "お知らせ", "#"
        %li
          = link_to "やることリスト", "#"
      .tab-content
        %ul.tab-content-list
          %li
            = link_to "やること１", "#"
          %li
            = link_to "やること２", "#"
          %li
            = link_to "やること３", "#"
          %li
            = link_to "やること４", "#"
    %section.mypage-tab-container
      %h3.mypage-tab-head
        購入した商品
      %ul.mypage-tabs
        %li
          = link_to "取引中", "#"
        %li
          = link_to "売却済み商品", "#"
      .tab-content
        %ul.product-list
          %li
            = link_to "商品１", "#"
          %li
            = link_to "商品２", "#"
