.user-details
  %section.user-profile
    .user-icon
      = link_to "#" do
        = image_tag "https://static.mercdn.net/images/member_photo_noimage_thumb.png", size: "200x200"
        %p ユーザー名
    - if user_signed_in? && @product && current_user.id == @product.user_id
      .user-evaluation
        %ul
          %li
            %i
              = @evaluation_good_count
          %li
            %i
              = @evaluation_normal_count
          %li
            %i
              = @evaluation_bad_count
    - else
      .user-evaluation
        %ul
          %li
            %i
              0
          %li
            %i
              0
          %li
            %i
              0
    .product-details
      %ul.product-tabs
        %li
          = link_to "取引中", "#"
        %li
          = link_to "売却済み商品", "#"
      .tab-content
        %ul.product-list
          %li
            = link_to "商品１", "#"
          %li
            = link_to "商品２", "#"
          %li
            = link_to "商品３", "#"
          %li
            = link_to "商品４", "#"
          %li
            = link_to "商品５", "#"
