
.mypage-main
  .mypage-side
    %nav.mypage-nav
      %ul.mypage-nav-list
        %li
          = link_to "マイページ", users_path
        %li
          = link_to "いいね", "#"
        %li
          = link_to "出品する", new_product_path
        %li
          = link_to "出品した商品-取引中", "#"
        %li
          = link_to "出品した商品-売却済み", "#"
        %li
          = link_to "購入した商品", "#"
      .mypage-nav-head
        メルペイ
      %ul.mypage-nav-list
        %li
          = link_to "ポイント", "#"
        %li
      .mypage-nav-head
        設定
      %ul.mypage-nav-list
        %li
          = link_to "プロフィール", "#"     
        %li
          = link_to "発送元・お届け先住所", "#"
        %li
          = link_to "支払い方法", new_card_path
        %li
          = link_to "ログアウト", log_out_path, method: :get
  .address
    %section.address-content
      %h2 発送元・お届け先住所変更
    .profile-address
      = form_with(url: user_address_path, method: :post, model: [@user, @address], local: true) do |f|
        .profile-address__name
          %h5 
            お名前
            %span
            必須
          = f.text_field :last_name, class: 'profile-address__name__last-name', placeholder: '山田'
          = f.text_field :first_name, class: 'profile-address__name__first-name', placeholder: '太郎'
        .profile-address__name-kana
          %h5
            お名前(カナ)
            %span
            必須
          = f.text_field :last_name_kana, class: 'profile-address__name-kana__last-name', placeholder: 'ヤマダ'
          = f.text_field :first_name_kana, class: 'profile-address__name-kana__first-name', placeholder: 'タロウ'
        .profile-address__zip-code
          %h5
            郵便番号
            %span
            必須
          = f.text_field :zip_code, class: 'profile-address__zip-code__form', placeholder: '1234567'
        .profile-address__prefecture
          %h5
            都道府県
            %span
            必須
          = f.select :prefecture, Address.prefectures.keys, {prompt: "選択してください"}, class: 'profile-address__prefecture__select'
        .profile-address__city
          %h5
            市区町村
            %span
            必須
          = f.text_field :city, class: 'profile-address__city__form', placeholder: '渋谷区'
        .profile-address__street-number
          %h5
            番地
            %span
            必須
          = f.text_field :street_number, class: 'profile-address__street-number__form', placeholder: '神南1-18-2'
        .profile-address__apartment
          %h5
            建物名
            %span.optional-column
            任意
          = f.text_field :apartment, class: 'profile-address__apartment__form'
        .profile-address__submit
          = f.submit "登録する", class: 'profile-address__submit--btn'

