.wrapper
  / <div class="header">ヘッダー(部分テンプレート)</div>
  .content
    .content__products
      .item-top
        .item-top__title
          お気に入りした商品
        .item-top__link
          = link_to "もっと見る>", "#", class: "item-top__link--btn"
      .item-box
    .content__products
      .item-top
        .item-top__title
          新着商品
        .item-top__link
          = link_to "もっと見る>", "categories", class: "item-top__link--btn"
      .item-box
        - @new_product.each do |product|
          .item-box__product
            = link_to product_path(product), class: "item-box__product--btn" do
              .image
                - product.images.limit(1).each do |images|
                  = image_tag images.image.to_s, size: "200x200", class: "image__tag" 
              .price
                .price__box
                  ¥ #{product.price.to_s(:delimited, delimiter: ',')}
              -if product.purchaser_id.present?
                .items-box_photo__sold-index
                  .items-box_photo__sold-index__inner
                    SOLD

    -# .footer
    -#   .footer__logo
    -#     %h3.white.footer__logo__text
    -#       © FURIMA
  -# 何か足りない気がする
  -# .post-btn
  -#   .post-btn__wrapper
  -#     .post-btn__text
  -#       出品
  -#     .post-btn__icon
  -#       = icon('fas', 'plus')
-# ---------------------------------------

  -# .header-image
  -# .category
  -#   .title 人気のカテゴリー
  -#   .tags
  -#     .list
  -#       %a{:href => "tag--link"} レディース
  -#     .list
  -#       %a{:href => "tag--link"} メンズ
  -#     .list
  -#       %a{:href => "tag--link"} 家電・スマホ・カメラ
  -#     .list
  -#       %a{:href => "tag--link"} おもちゃ・ホビー・グッズ
  -# .items
  -#   .item-title レディース新着アイテム
  -#   .boxs
  -#     - @product_cat1.each do |cat1|
  -#       .box
  -#         = link_to product_path(cat1), class: "box__link" do
  -#           .image
  -#             - cat1.images.limit(1).each do |images|
  -#               = image_tag images.image.to_s, size: "100x100"
  -#           .price
  -#             = cat1.price
  -#           .text
  -#             = cat1.name
  -#           -if product.purchaser_id.present?
  -#             .items-box_photo__sold
  -#               .items-box_photo__sold__inner
  -#                 SOLD
  -# -# .category
  -#   .title 人気ブランド
  -#   .tags
  -#     .list シャネル
  -#     .list ルイヴィトン
  -#     .list シュプリーム
  -#     .list ナイキ
  -# .items
  -#   .item-title レディース新着アイテム
  -#   .boxs
  -#     - @product_cat2.each do |cat2|
  -#       .box
  -#         = link_to product_path(cat2), class: "box__link" do
  -#           .image
  -#             - cat2.images.limit(1).each do |images|
  -#               = image_tag images.image.to_s, size: "100x100"
  -#           .price
  -#             = cat2.price
  -#           .text
  -#             = cat2.name
  -#           -if cat1.purchaser_id.present?
  -#             .items-box_photo__sold
  -#               .items-box_photo__sold__inner
  -#                 SOLD

