.wrapper
  / <div class="header">ヘッダー(部分テンプレート)</div>
  .content
    .content__products
      .item-top
        .item-top__title
          お気に入りした商品
        .item-top__link
          = link_to "もっと見る>", "#", class: "item-top__link--btn"
      .item-box

    .content__products
      .item-top
        .item-top__title
          新着商品
        .item-top__link
          = link_to "もっと見る>", "#", class: "item-top__link--btn"
      .item-box
        - @new_product.each do |product|
          .item-box__product
            = link_to product_path(product), class: "item-box__product--btn" do
              .image
                - product.images.limit(1).each do |images|
                  = image_tag images.image.to_s, size: "200x200", class: "image__tag" 
              .price
                .price__box
                  ¥ #{product.price.to_s(:delimited, delimiter: ',')}
              -if product.purchaser_id.present?
                .items-box_photo__sold
                  .items-box_photo__sold__inner
                    SOLD
= render partial: 'layouts/footer'
= render partial: 'layouts/post-btn'

