.wrapper
  / <div class="header">ヘッダー(部分テンプレート)</div>
  .header-image
  .category
    .title 人気のカテゴリー
    .tags
      .list
        %a{:href => "tag--link"} レディース
      .list
        %a{:href => "tag--link"} メンズ
      .list
        %a{:href => "tag--link"} 家電・スマホ・カメラ
      .list
        %a{:href => "tag--link"} おもちゃ・ホビー・グッズ
  .items
    .item-title レディース新着アイテム
    .boxs
      - @product_cat1.each do |cat1|
        .box
          = link_to product_path(cat1), class: "box__link" do
            .image
              - cat1.images.limit(1).each do |images|
                = image_tag images.image.to_s, size: "100x100"
            .price
              = cat1.price
            .text
              = cat1.name
            -if cat1.perchace_id.present?
              .items-box_photo__sold
                .items-box_photo__sold__inner
                  SOLD
  .category
    .title 人気ブランド
    .tags
      .list シャネル
      .list ルイヴィトン
      .list シュプリーム
      .list ナイキ
  .items
    .item-title レディース新着アイテム
    .boxs
      - @product_cat2.each do |cat2|
        .box
          = link_to product_path(cat2), class: "box__link" do
            .image
              - cat2.images.limit(1).each do |images|
                = image_tag images.image.to_s, size: "100x100"
            .price
              = cat2.price
            .text
              = cat2.name

