
.content
  = form_with(model: @product, local: true) do |f|
    %h2
      商品の情報を入力
    .product__block__form
      .product__block__form__upload
        %h3
          出品画像
          %span 必須
        %p 最大10枚までアップロードできます
        .drop__box
          .prev-content
          .label-content
            %label{for: "product_image", class: "label-box"}
          .hidden-content
            = f.fields_for :images do |i|
              .hidden-field
                = i.file_field :image, name: 'product[images_attributes][1][image]', class: 'hidden-field--image1'
                %icon.fas.fa-camera
                = i.file_field :image, name: 'product[images_attributes][2][image]', class: 'hidden-field--image2'
                %icon.fas.fa-camera
                = i.file_field :image, name: 'product[images_attributes][3][image]', class: 'hidden-field--image3' 
                %icon.fas.fa-camera
                = i.file_field :image, name: 'product[images_attributes][4][image]', class: 'hidden-field--image4' 
                %icon.fas.fa-camera
                = i.file_field :image, name: 'product[images_attributes][5][image]', class: 'hidden-field--image5' 
                %icon.fas.fa-camera
                = i.file_field :image, name: 'product[images_attributes][6][image]', class: 'hidden-field--image6'
                %icon.fas.fa-camera
                = i.file_field :image, name: 'product[images_attributes][7][image]', class: 'hidden-field--image7'
                %icon.fas.fa-camera
                = i.file_field :image, name: 'product[images_attributes][8][image]', class: 'hidden-field--image8' 
                %icon.fas.fa-camera
                = i.file_field :image, name: 'product[images_attributes][9][image]', class: 'hidden-field--image9'
                %icon.fas.fa-camera
                = i.file_field :image, name: 'product[images_attributes][10][image]', class: 'hidden-field--image10'
                %icon.fas.fa-camera
      .product__block__form__name
        .name-label
          %h4
            商品名
            %span 必須
          %div
            = f.text_field :name, placeholder:"40文字まで"
      .product__block__form__introduction
        .introduction-label
          %h4
            商品の説明
            %span 必須
          %div
            = f.text_area :introduction, placeholder:"商品の説明"
    .content__product-detail
      .content_product-detail__category
        %h4 
          カテゴリー
          %span 必須
        = f.select :category_id, options_for_select( @category_parent_array.map {|c| [c[:name], c[:id]]}), {include_blank: "選択してください"}, class: "select"
      .content_product-detail__condition
        %h4
          商品の状態
          %span 必須
        = f.select :product_condition_id, options_for_select(ProductCondition.conditions), {prompt: "選択して下さい"}, class: "select"
    .content__product-shipping
      .content__product-shipping__region
        %h4
          配送元の地域
          %span 必須
        = f.select  :shipping_region_id, options_for_select(ShippingRegion.regions), {prompt: "選択して下さい"}, class: "select"
      .content__product-shipping__date
        %h4
          発送までの日数
          %span 必須
        = f.select :preparation_term_id, options_for_select(PreparationTerm.terms), {prompt: "選択して下さい"}, class: "select"
    .content__product-price
      .content__product-price__limitation
        価格(¥300~9,999,999)
      .content__product-price__ssold
        %h4
          販売価格
          %span 必須
        = f.number_field :price, style: "text-align:right"
    .content__product-submit
      =f.submit "出品する"