.wrapper
  .header
  .main
    .content
      .content__product
        %h3
          = @product.name
      .content__box
        .content__box__image
          .content__box__image--main
            = image_tag @image.image.to_s, size: "300x300"
          .content__box__image__subs
            - @images.each.with_index(1) do |image, index|
              .content__box__image__subs--sub
                = image_tag image.image.to_s, size: "60x60"
                -if @product.purchaser_id.present?
                  .items-box_photo__sold-show
                    .items-box_photo__sold__inner
                      SOLD
        %table.content__box__detail
          %tbody
            %tr
              %th
                出品者
              %td
                = @product.user.nickname
                %br
                %ul.evaluation
                  %li
                    = button_to "/products/#{@product.id}", {method: :post, class: "eva", params: {evaluation: 1}} do
                      = @evaluation_good_count
                  %li
                    = button_to "/products/#{@product.id}", {method: :post, class: "eva", params: {evaluation: 2}} do
                      = @evaluation_normal_count
                  %li
                    = button_to "/products/#{@product.id}", {method: :post, class: "eva", params: {evaluation: 3}} do
                      = @evaluation_bad_count
            %tr
              %th
                カテゴリー
              %td
                = @children.root.name
                %br
                = @children.parent.name
                %br
                = @children.name
            %tr
              %th
                ブランド名
              %td
                ブランド
            %tr
              %th
                商品の状態
              %td
                = @product.product_condition.condition
            %tr
              %th
                配送料の負担
              %td
                出品者 #条件分岐？
            %tr
              -# %th        #テーブルないのでコメントアウトします
              -#   配送の方法
              -# %td
              -#   普通郵便
            %tr
              %th
                配送元の地域
              %td
                = @product.shipping_region.region
            %tr
              %th
                発送の目安
              %td
                = @product.preparation_term.term
      .content__price
        .content__price__tax-included
          ¥ #{@product.price}
          %span (税込)
        .content__price__postage
          %span 送料込み
      .content__perchase
        -unless user_signed_in? && @product.user_id == current_user.id
          = link_to "購入画面に進む", purchase_product_path(params[:id]), class: "content__perchase--btn"
      .content__owner-comment
      -# .content__edit
      -#   = link_to "商品の編集", "#", class: "content__edit--btn"

      - if user_signed_in? && current_user.id == @product.user_id
        = link_to '編集', "/products/#{@product.id}/edit", method: :get
        = link_to '削除', "/products/#{@product.id}", method: :delete

      .comment-container
        - if current_user
          = form_with model: [@product, @comment], local: true, id: "new_comment" do |form|
            = form.text_area :text, placeholder: "コメントする", rows: "2", class: "textbox"
            = form.submit "SEND", class: "form__submit"
        - else
          %strong※※※ コメントの投稿には新規登録/ログインが必要です ※※※

        %h4 < コメント一覧 >
        - if @comments
          - @comments.each do |comment|
            %strong
              %p
                = link_to "#{comment.user.nickname} さん：", "/users/#{comment.user_id}"
                = comment.text
