.wrapper
  .header
  .main
    .content
      .content__product
        %h3
          = @product.name
      .content__box
        .content__box__image
          .content__box__image--main
            = image_tag @image.image.to_s, size: "300x300"
          .content__box__image__subs
            - @images.each.with_index(1) do |image, index|
              .content__box__image__subs--sub                
                = image_tag image.image.to_s, size: "60x60"
                -if @product.perchace_id.present?
                  .items-box_photo__sold-show
                    .items-box_photo__sold__inner
                      SOLD
        %table.content__box__detail
          %tbody
            %tr
              %th
                出品者
              %td
                = @product.user.nickname
            %tr
              %th
                カテゴリー
              %td
                = @children.root.name
                %br
                = @children.parent.name
                %br
                = @children.name
            %tr
              %th
                ブランド名
              %td
                ブランド
            %tr
              %th
                商品の状態
              %td
                = @product.product_condition.condition
            %tr
              %th
                配送料の負担
              %td
                出品者 #条件分岐？
            %tr
              -# %th        #テーブルないのでコメントアウトします
              -#   配送の方法
              -# %td
              -#   普通郵便
            %tr
              %th
                配送元の地域
              %td
                = @product.shipping_region.region
            %tr
              %th
                発送の目安
              %td
                = @product.preparation_term.term
      .content__price
        .content__price__tax-included
          ¥ #{@product.price} 
          %span (税込)
        .content__price__postage
          %span 送料込み
      .content__perchase
        = link_to "購入画面に進む", "#", class: "content__perchase--btn"
      .content__owner-comment
      -# .content__edit
      -#   = link_to "商品の編集", "#", class: "content__edit--btn"


