!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FleamarketSample76c
    %script{:src => "https://js.pay.jp/", :type => "text/javascript"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    %body
      %nav.header
        .header__top
          .header__top__title
            = link_to products_path do
              = image_tag "http://furima.tokyo/assets/logo-d3d78326971d78b06e3d6f0ba666d025a8ad681286b4d9e00e7dbe8673bcfd23.svg", size: "126x36"
          .category-search
            %ul.snav
              %li.snav__category-lists__headline
                = link_to "カテゴリー", categories_path, class: "navigation-btn"
                %ul.snav__category-lists__parents
                  - @parents.roots.each do |parent|
                    %li.snav__category-lists__parent
                      = link_to category_path(parent.id), class: "snav__category-list__text" do
                        = parent.name
                      %ul.snav__category-lists__children
                        - parent.children.each do |child|
                          %li.snav__category-lists__child
                            = link_to category_path(child.id), class: "snav__category-list__text" do
                              = child.name
                            %ul.snav__category-lists__grandchildren
                              - child.children.each do |grandchild|
                                %li.snav__category-lists__grandchild
                                  = link_to category_path(grandchild.id), class: "snav__category-list__text" do
                                    = grandchild.name
          .header__top__search
            = form_with url: search_products_path, local: true, method: :get, class: "form" do |form|
              = form.text_field :keyword, placeholder: "何かお探しですか？", class: "form-text"
              %button.search
          - if user_signed_in?
            .new-register
              = link_to "マイページ", users_path, class: "new-register"
            .login
              = link_to "ログアウト", destroy_user_session_path, method: :delete, chass: "login"
          - else
            .new-register
              = link_to "新規登録", new_user_registration_path, class: "new-register"
            .login
              = link_to "ログイン", log_in_path, class: "login"
    = yield
